:root {
  --page-margin: 16px;
}

.wrapper {
  padding: var(--page-margin);
  margin: 0 auto;
  max-width: 800px;
}

/* Text Selection */
.select {
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Button Variations */
.button.fat {
  padding: 16px 32px !important;
  margin-bottom: 8px;
}

.button.wide {
  width: 100%;
}

/* Tables */
.table {
  border-collapse: collapse;
  font-size: 0.9em;
}

.table thead tr {
  background-color: var(--secondary-color-4);
  color: var(--primary-color);
  text-align: left;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid var(--secondary-color-3);
}

.table tbody tr:nth-of-type(even) {
  background-color: var(--primary-color-5);
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid var(--secondary-color-4);
}
