:root {
  --page-margin: 16px;
}

.wrapper {
  padding: var(--page-margin);
  margin: 0 auto;
  max-width: 800px;
}

.select {
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button.fat {
  padding: 16px 32px !important;
  margin-bottom: 8px;
}

.button.wide {
  width: 100%;
}
